body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure the body takes up at least the full viewport height */
  margin: 0;
  padding: 0;
  background-color: #4801ff;
  color: #dcdccc;
  font-family: "Hanken Grotesk", sans-serif;
}

main {
  flex: 1;
  /* Allow the main content area to grow and fill the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #2b2b2b;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}


footer {
  color: #dcdccc;
  text-align: center;
  padding: 10px 10px 10px 50px;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #4801ff;
}

.footer__div__namebadge {
  text-align: left;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 900;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.portfolio-text {
  position: relative;
  transform-style: preserve-3d;
  perspective: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-text:before,
.portfolio-text:after {
  position: absolute;
  content: "PORTFOLIO";
  transition: .2s;
  font-size: 100px;
  font-family: arial;
  font-weight: 900;
  transform-style: preserve-3d;
  transform: rotateY(-55deg);
}

.portfolio-text:after {
  color: #14213d;
  left: -355px;
}

.portfolio-text:before {
  color: #e5e5e5;
  left: -348px;
}

.portfolio-text:hover:before {
  transform: rotateY(-50deg);
  color: #14213d;
}

.portfolio-text:hover:after {
  transform: rotateY(-50deg);
  color: #e5e5e5;
}


.contact-text {
  position: relative;
  transform-style: preserve-3d;
  perspective: 900px;
  display: flex;
  justify-content: center;
  /*   align-items: center; */
  margin-top: 50px;
}

.contact-text:before,
.contact-text:after {
  position: absolute;
  content: "CONTACT";
  transition: .2s;
  font-size: 100px;
  font-family: arial;
  font-weight: 900;
  transform-style: preserve-3d;
  transform: rotateY(-55deg);
}

.contact-text:after {
  color: #14213d;
  left: -330px;
}

.contact-text:before {
  color: #e5e5e5;
  left: -323px;
}

.contact-text:hover:before {
  transform: rotateY(-50deg);
  color: #14213d;
}

.contact-text:hover:after {
  transform: rotateY(-50deg);
  color: #e5e5e5;
}

#portfolio {
  display: none;
}

#contact {
  display: none;
  /* font-size: 1.5em; */
}

.go-back {
  font-size: 1.5em;
  padding: 10px 20px;
  /* Add padding around the text */
  background-color: #14213d;
  /* Background color */
  color: #ffffff;
  /* Text color */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Show pointer cursor on hover */
  transition: background-color 0.2s, color 0.2s;
  /* Smooth transition on hover */
  width: fit-content;
  margin: 2rem auto;
}

.go-back:hover {
  background-color: #e5e5e5;
  /* Background color on hover */
  color: #14213d;
  /* Text color on hover */
}

#contact a {
  color: #c0f500;
  /* LinkedIn blue color */
  text-decoration: none;
  /* Remove underline */
  font-weight: bold;
  /* Make the text bold */
}

#contact a:hover {
color: white;
}

.social-contact {
  display: flex;
  align-items: center;
}

.social-contact>img {
margin-right: 10px;
}

.social-contact > span{
  margin-right: 5px;
}

.email-social-contact-logo{
  border-radius: 3px;
}